<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>PikPak</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/resources/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resources/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/resources/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/resources/assets/css/main.css">
	<link rel="stylesheet" href="/resources/assets/css/demo.css">
	<link rel="stylesheet" href="/resources/css/inventory/warehouse_inventory.css">
	<link rel="stylesheet" href="/resources/css/inventory/warehouse_location.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/resources/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/resources/assets/img/favicon.png">
</head>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- 최상단 -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" style="height: 30px;">
				<a href="index.html">
					<span class="fa fa-paper-plane-o" style="font-size: 2P3x; margin-right: 5px;"></span>
					<span style="font-size: 2P3x;">PikPak</span>
				</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
			
				<div class="navbar-btn navbar-btn-right">
					<span style="vertical-align: -P3x;">
					<i class="lnr lnr-user"></i> <span>관리자님 환영합니다.</span>
				    </span>
					<a class="btn btn-success update-pro" href=""><span>로그아웃</span></a>
				</div>
			</div>
		</nav>
		<!-- 최상단 끝 -->
		<!-- 왼쪽 SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed active">
							<i class="lnr lnr-file-empty"></i> <span>기준정보 관리</span> 
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">거래처 관리</a></li>
									<li><a href="" class="">품목 관리</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed">
							<i class="lnr lnr-dice"></i> <span>주문 | 반품</span> 
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">주문 관리</a></li>
									<li><a href="" class="">반품 관리</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages3" data-toggle="collapse" class="collapsed">
							<i class="lnr lnr-inbox"></i> <span>재고</span> 
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages3" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">재고 현황</a></li>
									<li><a href="" class="">창고 관리</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages4" data-toggle="collapse" class="collapsed">
							<i class="lnr lnr-download"></i> <span>입고 | 출고</span> 
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages4" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">입고 관리</a></li>
									<li><a href="" class="">출고 관리</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages5" data-toggle="collapse" class="collapsed">
							<i class="lnr lnr-chart-bars"></i> <span>납품</span> 
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages5" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">납품 관리</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages6" data-toggle="collapse" class="collapsed">
							<i class="lnr lnr-cog"></i> <span>사이트 설정</span> 
							<i class="icon-submenu lnr lnr-chevron-left"></i>
							</a>
							<div id="subPages6" class="collapse ">
								<ul class="nav">
									<li><a href="" class="">재고기록 관리</a></li>
									<li><a href="" class="">인사 관리</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- 왼쪽 SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
		<div class="main-content">
				<div class="container-fluid">
					<!-- MAIN DATA VIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<p class="panel-subtitle">홈 > 재고 > <span style="color: black;">창고관리</span></p>
						</div>
						<div class="panel-body" >
							<ul class = "panel_menu">
								<li class="panel_menu-item active">
									<a href="./warehouse_inventory" onclick="selectMenu(this, 'inventory')">창고별 재고 현황</a>
								</li>
								<li class="panel_menu-item">
									<a href="./warehouse_location" onclick="selectMenu(this, 'location')">창고 위치 관리</a>
								</li>								
								<li class="panel_menu-item">
									<a href="./warehouse_management" onclick="selectMenu(this, 'warehouse')">창고 관리</a>
								</li>
							</ul>
						</div>
					</div>
			<!-- MAIN -->
			</div>
		</div>
		
		<!-- 		     구역 선택 탭 -->
		<div class="d-flex justify-content-between align-items-center mb-3 warehouse-header w-100">
		    <div id="warehouseTabs" role="tablist" class="warehouse-tabs d-flex">
		        <button class="btn btn-primary active" id="zone-a-tab" data-toggle="tab" onclick="loadZoneData('A')" aria-controls="zoneA" aria-selected="true">A 구역</button>
		        <button class="btn btn-primary" id="zone-b-tab" data-toggle="tab" onclick="loadZoneData('B')" aria-controls="zoneB" aria-selected="false">B 구역</button>
		        <button class="btn btn-primary" id="zone-c-tab" data-toggle="tab" onclick="loadZoneData('C')" aria-controls="zoneC" aria-selected="false">C 구역</button>
		        <button class="btn btn-primary" id="zone-d-tab" data-toggle="tab" onclick="loadZoneData('D')" aria-controls="zoneD" aria-selected="false">D 구역</button>
		    </div>
		    <div>
		    	<button type="button" class="btn btn-primary btn-location-assign" data-toggle="modal" data-target="#locationModal" >위치 관리</button>
		    </div>	
		</div>

	    
	    <div th:replace="~{/inventory/location_assignment :: location_assignment}"></div>
        <div class="wms-rack-container">
	        <!-- 랙 01 -->
	        <div class="wms-rack" data-rack-number="01">
	            <h4>랙 01</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>	            	            
	        </div>
	        <!-- 랙 02 -->
	        <div class="wms-rack" data-rack-number="02">
	            <h4>랙 02</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>	            	            
	        </div>
	        <!-- 랙 03 -->
	        <div class="wms-rack" data-rack-number="03">
	            <h4>랙 03</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>	            	            
	        </div>
	        <!-- 랙 04 -->
	        <div class="wms-rack" data-rack-number="04">
	            <h4>랙 04</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>	            	            
	        </div>
	    </div>
	    <div class="wms-rack-container" data-rack-number="05">
	        <!-- 랙 05 -->
	        <div class="wms-rack">
	            <h4>랙 05</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>	            	            
	        </div>
	        <!-- 랙 06 -->
	        <div class="wms-rack">
	            <h4>랙 06</h4>
	            <div class="wms-rack-level" data-rack-number="06">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>		            	            
	        </div>
	        <!-- 랙 07 -->
	        <div class="wms-rack" data-rack-number="07">
	            <h4>랙 07</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>		            	            
	        </div>
	        <!-- 랙 08 -->
	        <div class="wms-rack" data-rack-number="08">
	            <h4>랙 08</h4>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P1<br>상품명: 로봇 청소기<br>수량: 50">L4-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P2<br>상품명: 세탁기<br>수량: 30">L4-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L4-P3<br>상품명: 에어컨<br>수량: 20">L4-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P1<br>상품명: 냉장고<br>수량: 15">L3-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P2<br>상품명: TV<br>수량: 60">L3-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L3-P3<br>상품명: 선풍기<br>수량: 40">L3-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P1<br>상품명: 냉장고<br>수량: 15">L2-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P2<br>상품명: TV<br>수량: 60">L2-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L2-P3<br>상품명: 선풍기<br>수량: 40">L2-P3</div>
	            </div>
	            <div class="wms-rack-level">
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P1<br>상품명: 냉장고<br>수량: 15">L1-P1</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P2<br>상품명: TV<br>수량: 60">L1-P2</div>
	                <div class="wms-part" tabindex="0" data-toggle="popover" title="파트 정보"
	                     data-content="위치: L1-P3<br>상품명: 선풍기<br>수량: 40">L1-P3</div>
	            </div>		            	            
	        </div>	        
	     </div>   	        
   </div>   	
<!-- Footer -->
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright ⓒ 2024<i class="fa fa-love"></i><a href="pikpak.com">pikpak.com</a> All rights Reserved.</p>
			</div>
		</footer>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Javascript -->
	<script src="/resources/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/resources/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/resources/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/resources/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/resources/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/resources/assets/scripts/klorofil-common.js"></script>	
	<script src="/resources/js/inventory/warehouse_grid.js"></script>
</body>
</html>

