<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pikpak.repo.DeliveryRepo">

<!-- 가입고 insert하기 전 로트번호 등록일자 같은 데이터 있는지 확인
<select id="find_exrecvdt" resultType="Integer">
select count(*) as lot_ea from ex_receiving where lot_no like concat ('%',#{exrecv_dt},'%')
</select>
 -->
 
 <!-- 가입고 등록과 동시에 현재 배송누른 담당자 업데이트를 납품등록에 함 -->
 <update id="deliver_update_nm">
 update deliver_enroll set deliver_st='배송', update_nm=#{update_nm} where deliver_cd=#{deliver_cd}
 </update>
 
<!-- 배송 확정 시 가입고 등록 -->
<insert id="insert_ex_receiving">
insert into ex_receiving values ('0',#{request_cd},#{deliver_cd},#{supplier_cd},#{exreceiving_cd},#{product_cd},
#{exreceiving_qty},#{exreceiving_st},#{exreceiving_area},#{exreceiving_size},#{make_dt},now(),#{exreceiving_nm},#{update_dt},#{update_nm}) 
</insert>

<!-- 입고요청 거절 시 상태변경 -->
<update id="update_inreq_reject">
update input_request set request_st='거절' where request_idx=#{request_idx}
</update>


<!-- 납품등록 삭제하기 -->
<delete id="delete_deliver_enroll">
delete from deliver_enroll where FIND_IN_SET(deliver_idx,#{deliver_idx})
</delete>

<!-- 납품등록 현황 -->
<select id="select_deliver_enroll" resultType="kr.co.pikpak.dto.deliver_enroll_dto">
select * from deliver_enroll order by deliver_idx desc
</select>

<!-- 납품등록 -->
<insert id="insert_deliver_enroll">
insert into deliver_enroll values ('0',#{request_cd},#{supplier_cd},#{deliver_cd},#{product_cd},#{product_nm},
#{deliver_qty},#{deliver_st},#{make_dt},#{expect_dt},#{deliver_size},#{deliver_area},#{deliver_nm},#{update_nm},
now(),#{update_dt})
</insert>

<!-- 입고요청 현황 (뷰테이블에서 불러온 것) -->
<select id="select_inreq_deliv" resultType="kr.co.pikpak.dto.input_request_state_dto">
select * from input_request_state where supplier_cd=#{supplier_cd} order by request_idx desc
</select>

<!-- 입고요청 현황 (기본테이블에서 불러온 것)
<select id="select_inreq_deliv" resultType="kr.co.pikpak.dto.input_request_dto">
select * from input_request where supplier_cd=#{supplier_cd} order by request_idx desc
</select>
-->
</mapper>