<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/home/vars.css">
  <link rel="stylesheet" href="/resources/css/home/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_2">
    <div class="form-log-in">
      <div class="input-field">
        <div class="label">ID</div>
        <div class="input">
          <div class="value">아이디를 입력해주세요</div>
        </div>
      </div>
      <div class="input-field">
        <div class="label">Password</div>
        <div class="input">
          <div class="value">패스워드를 입력해주세요</div>
        </div>
      </div>
      <div class="button">
        <div class="button2">
          <div class="button3">Sign In</div>
        </div>
      </div>
      <div class="link">
        <div class="div">비밀번호 찾기</div>
      </div>
    </div>
  </div>
  
</body>
</html>